<!doctype html>

<head>
    {% include 'common/meta.html' %}
    {% include 'common/styles.html' %}
    
  
</head>
<body>

   {% include 'common/nav.html' with {'foo': 'bar'} %}

    <div class="container">
        <div class="row">
                <div class="col-sm-12">
                    
                    <div class="page-header">
                        <h1>About Digitiler</h1>
                    </div>

                    <p>The Digitiler is a large-format digital-back / software process (in on-going development at <a href="http://maxotics.com" target="_blank">Maxotics</a>). For more information on how we can help you with deep-zoom photography, call Max at Nine-One-Seven 596 zero three 73. Here's a very early version on a Polaroid 4x5 Industrial View Camera:
					
					 <div class="row">
                        <div class="col-sm-9">
                            <img src="assets/images/digitilers/EarlyDigiTiler.jpg" class="img-responsive">
                        </div><!-- .col --> 
                    </div><!-- .row -->
					
					<br/>
					<p>
					It is similar to the Vizelex Rhinocam, MultiStitch and  Moshe Ben-Ezra's (Microsoft's) digital giga pixel camera.
					</p>
					<p>
					The Digitiler “tiles” an image projection, say 4×5 inches, onto overlapping 1 by 1.5-inch full frame sensor captures, which are then stitched together.  The end-result are images in excess of 300 megapixels.  Viewers can zoom into the images here through OpenSeadragon.</p>

                    <p>Benefits? Immersive deep-zoom user experience on the web.  High resolution prints/displays.</p>

                    <p>Why? Besides depth of detail, the Digitiler produced richer digital images.  Bayer sensors produce color noise at the pixel level when missing color (each pixel only captures red, green or blue) is extrapolated from neighboring pixels.  Therefore, one needs four pixels to create a true color point.  A 24 megapixel camera ends up as six megapixels to the purist.  When shooting with the Digitiler one ends up with a 75+ megapixal true color digital negative.  That can be compared to the 12.5mp true-color of the latest 50mp Canon 5DSR.</p>

                    <hr/>

                    <h2>Bayer Artifacts Test Scene</h2>

                    <div class="row">
                        <div class="col-sm-9">
                            <img src="assets/images/tests/scene.jpg" class="img-responsive">
                        </div><!-- .col --> 
                    </div><!-- .row -->

                    <br/>

                    <div class="row">
                        <div class="col-sm-6">
                            <img src="assets/images/tests/sonyA7.jpg" class="img-responsive">
                            <h5>Zoom in of typical digital camera</h5>
                        </div><!-- .col -->
                        <div class="col-sm-6">
                            <img src="assets/images/tests/digitiler.jpg" class="img-responsive">
                            <h5>Zoom in of DigiTiler image</h5>
                        </div><!-- .col -->
                    </div><!-- .row -->
                    

                </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container -->

    {% include 'common/footer.html' %}
    {% include 'common/scripts.html' %}

</body>
</html>

