<!doctype html>

<head>
   
   {% include 'common/meta.html' %}
   {% include 'common/styles.html' %}
   

  
</head>
<body>

   {% include 'common/nav.html' with {'foo': 'bar'} %}

    <div class="container">
        <div class="row">
                <div class="col-sm-9">
                    DIGITILER Home Page is here

                    {% if name is empty %}
                        {% set name = "test" %}
                    {% endif %}
                    <h1> Welcome {{ name }}</h1>

                </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container -->


    {% include 'common/scripts.html' %}

</body>
</html>

