/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 315px;
}

body > .container,
.first-section {
  padding-top: 117px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 315px;

  .row {
    padding-top: 20px;
  }

}

@media (max-width: $screen-xs-max) {


  body {
    /* Margin bottom by footer height */
    margin-bottom: 0px;
  }

  .footer {
    position: relative;
    height: 800px;
  }

}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {

}

@media (min-width: $screen-lg-min) {
    
}